.thumbnail {
    width: 300px;
    display: block;
}

.search-bar {
    display: block;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.channel-profile {
    display: inline-block;
    width: 100%;
}

.video-info {
    display: inline-block;
    width: 200px;
}